/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

:root {
	--cnvs-themecolor: #112c57;
	--cnvs-themecolor-rgb: 17, 44, 87;
	--cnvs-header-height: 8vh;
}