/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

:root {
	--cnvs-themecolor: #112c57;
	--cnvs-themecolor-rgb: 17, 44, 87;
	--cnvs-header-height: 6rem;
    --cnvs-body-font: 'Gill Sans Nova', "Inter", sans-serif;
    --cnvs-primary-font: 'Gill Sans Nova', "Inter", sans-serif;
    --cnvs-secondary-font: 'Playfair Display', serif;
	--cnvs-font-size-body: 1.5rem;
	p {
		font-size: 1.5rem;
	}
	li {
		font-size: 1rem;
	}
	address{
		font-size: 1rem;
	}
}
